body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: #023E8A;
}
.nav-link {
  color: #CAF0F8 !important;
}
.color-blue{
  color: #023E8A
}
.color-white{
  color: #CAF0F8
}
.bg-blue{
  background-color: #023E8A
}
.color-orange{
  color:#e76f51;
}
.bg-red{
  background-color:#d62828 ;
}
.bg-bgreen{
  background-color: #0096C7;
}
.danger-bg{
  background-color:#d62828 ;
  color:#CAF0F8;
  -webkit-box-shadow: -1px 2px 16px 1px rgba(2,62,138,1);
  -moz-box-shadow: -1px 2px 16px 1px rgba(2,62,138,1);
  box-shadow: -1px 2px 16px 1px rgba(2,62,138,1);
}
.success-bg{
  background-color:#1de93f ;
  color:#CAF0F8;
  -webkit-box-shadow: -1px 2px 16px 1px rgba(2,62,138,1);
  -moz-box-shadow: -1px 2px 16px 1px rgba(2,62,138,1);
  box-shadow: -1px 2px 16px 1px rgba(2,62,138,1);
}

.logindiv,.signup-card{
  height: auto;
  width: 350px;
  margin:auto;
}
.addexpense-card{
  height: auto;
  width: 400px;
  margin:auto;
}
.expcm-div ,.search-div,.categories-div,.search-result-div{
  height: auto;
  width: 100%;
  max-width: 800px;
  margin:auto;
  
}
.search-div{
  margin-top: 1em;
  
}
.expcm-div-card{
  background-color: #0077B6;
}
.categories-div-card,.search-result-div-card{
  background-color: #90E0EF;
  margin: 3px;
}

.round-div{
  -webkit-box-shadow: 1px 1px 10px 4px rgba(3,4,94,1);
-moz-box-shadow: 1px 1px 10px 4px rgba(3,4,94,1);
box-shadow: 1px 1px 10px 4px rgba(3,4,94,1);
border:2px solid #00B4D8;
border-radius: 10px;

text-align: center;
padding: 30px;
width: 90%;
}

.rect-div-cm{
  -webkit-box-shadow: 1px 1px 10px 4px rgba(3,4,94,1);
-moz-box-shadow: 1px 1px 10px 4px rgba(3,4,94,1);
box-shadow: 1px 1px 10px 4px rgba(3,4,94,1);
  width: 90%;
  margin: 3px;
  border-radius: 8px;
}
.login-card,.signup-card,.addexpense-card,.expcm-div,.categories-div,.search-result-div {
  -webkit-box-shadow: 0px 6px 5px 0px rgba(3,4,94,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(3,4,94,1);
box-shadow: 0px 6px 5px 0px rgba(3,4,94,1);
}
.button-width{
  width: 8.5em;
  margin:0.5em;
}
#error-div{
  text-align:center
}
.info-div{
  background-color: #00B4D8 ;
  width: 100%;
  max-width: 600px;
  margin:auto;
  border-radius: 2px;

}

.white-text{
 text-shadow: 1px 2px 3px rgba(3,4,94,1);
color:#CAF0F8;
}

.grey-text{
  text-shadow: 1px 2px 3px rgba(151, 157, 172,1);
 color:#33415C;
 }
 .plain-white-text{
  font-size:large ;
 }
 .title-imp{
   font-size:larger;
   font-style: italic;
 }
 .categories-div-card-text{
  text-shadow: 1px 2px 3px rgba(151, 157, 172,1);
  color:#33415C;
  font-size: large;
  font-weight: 500;
 }
